.outer{
    padding-bottom: 20px;
    .line{
        height: 1px;
        width: 100%;
        position: relative;
        margin-bottom: 20px;
    }
    
    .line svg{
        width: 100%;
        height: 100px;
        top: -50px;
        position: absolute;
    }
    
    .line svg path{
        stroke-width: 1px;
        stroke:white;
        
    }

    .line .box{
        height: 40px;
        position: relative;
        top: -20px;
        z-index: 1;
    }

    .line .box:hover{
        height: 150px;
        top: -75px;
    }

    .mainContainer{
        width: full;
        display: flex;
        align-items: center;
        justify-content: center;
        .image{
            width: 350px;
            height: 450px;
        }
        .icon1{
            color:white;
            font-size:80px;
            padding-right: 100px;
        }
        .icon2{
            color:white;
            font-size:80px;
        }
        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            
            .paragraph{
                color:white;
                font-size: 50px;
                max-width: 1280px;
                padding: 40px;
                display: flex;
                flex-wrap: wrap;
    
                .word{
                    margin-right: 12px;
                    margin-top: 12px;
                    position: relative;
                    .shadow{
                        position: absolute;
                        opacity: 0.1;
                    }
                }
            }
        }
    }
}
