

.line{
    height: 1px;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.line svg{
    width: 100%;
    height: 100px;
    top: -50px;
    position: absolute;
}

.line svg path{
    stroke-width: 1px;
    stroke:white;
    
}

.line .box{
    height: 40px;
    position: relative;
    top: -20px;
    z-index: 1;
}

.line .box:hover{
    height: 150px;
    top: -75px;
}

.mainDiv {
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   

.gallery{
    width: 70%;
    color: white;
    padding-top: 20vh;
  }

.mainText{
    font-size: 150px;
    color: black;
    overflow: hidden;
}

.marqueeDiv{
    background-color: white;
    color:black;
    height:200px;
    display: flex;
    justify-content: center;
}